body {
  background-color: hsl(230, 100%, 99%);
}

div.header {
  text-align: center;
  font-size: 15px;
  margin-top: 80px;
}

div.card {
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
}

/* top component */
.topcomponent {
  display: inline-flex;
}

h2.money {
  margin-top: 10px;
  margin-left: 14rem;
  margin-right: 5px;
}

span.slash {
  margin-top: 14px;
}

p.month {
  margin-left: 5px;
}

.sliderbox {
  width: 100%;
}

input#myRange.slider {
  width: 100%;
}

/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
} */
